@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$color-1: #4263f4;
$color-2:  linear-gradient(90deg, rgba(146,73,229,1) 15%, rgba(190,0,163,0.8436624649859944) 34%, rgba(41,190,208,0.8464635854341737) 80%, rgba(135,16,245,1) 100%);
$color-3: #29bed0;
$black: #c063e8;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: $color-2;
  color: $white;
}
li {
  list-style: none;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
