@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$color-1: #4263f4;
$color-2:  linear-gradient(80deg, rgba(33,44,158,1) 0%, rgba(144,0,176,0.6503851540616247) 43%, rgba(172,32,115,1) 76%, rgba(91,82,158,1) 100%);
$color-3: #fef13acf;
$black: #c063e8;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: $color-2;
  color: $white;
}
li {
  list-style: none;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
