@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$color-1: #4263f4;
$color-2:  linear-gradient(90deg, rgba(54, 4, 147, 0.74) 3%, rgba(79,126,190,1) 13%, rgba(156,80,193,1) 30%, rgba(79,131,189,1) 70%, rgba(80,41,208,1) 90%);
$color-3: #fef13acf;
$black: #c063e8;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: $color-2;
  color: $white;
}
li {
  list-style: none;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
